PORT=3001
GOOGLE_URL=https://www.google.com/calendar/ical/GOOGLECALEMAILHERE/public/basic.ics
POSTGRES_URL=postgres://user:password@127.0.0.1:5432/postgres
PASSWORD=PASSWORD_FOR_ADMIN_USER
SECRET=SECRET_JWT_CODE
