:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: transparent;
}

a {
  font-weight: 600;
  color: #fb9c49;
  text-decoration: inherit;
}
a:hover {
  color: #ff8011;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  width: 100vw;
  background: rgb(27,27,27);
  background: radial-gradient(circle, rgba(27,27,27,1) 0%, rgba(28,28,28,1) 36%, rgba(19,19,19,1) 100%);
}


@media (prefers-color-scheme: light) {
  :root, body {
    color: #213547;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 36%, rgba(226,226,226,1) 100%);

  }
}
